body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 130px;
    top: 0;
    position: fixed;
    border-bottom: 1px solid rgb(59, 47, 23);
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo {
    width: 180px;
    margin: 10px;
}

.header-text {
    font-size: 20px;
    font-weight: bold;
    color: rgb(59, 47, 23);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}


.carusel {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    margin: auto;
    margin-top: 10px;
}


.view {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;

}

.image {
    width: 300px;
    position: absolute;
    /*display: none;*/
    opacity: 1;
    transition: opacity 0.5s;
}


.slide-button-prev,
.slide-button-next {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 32px 7px;
    height: 32px;
    font-size: 20px;
    opacity: 0.5;
}

.button_order {
    margin: 30px auto;
    width: 180px;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgb(121, 105, 75), rgb(54, 37, 7));
    color: white;

    font-size: 22px;
    cursor: pointer;
}

#name_dish {
    width: 200px;
    margin: 12px auto;
    text-align: center;
}

.all {
    width: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gap: 5px;
    flex-wrap: wrap;
}

.all ._50x50 {
    width: 50px;
    height: 50px;
    background: #f8f1ec;
    cursor: pointer;
    border-radius: 12px;
}


.buttons button {
    padding: 5px 20px;
}

.order_number {
    background: rgba(61, 34, 13, 0.562);
    padding: 12px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 6px black;
    position: relative;
    min-width: 30px;
}

.order_number.wide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_number.line {
    text-decoration: line-through;
}

.order_number b {
    font-size: larger
}

.order_number a {
    position: absolute;
    right: 0;
    padding: 12px 22px;

}