<!--<div class='big-combo'>БИГ КОМБО</div>-->

<div class="big-combo" tabindex="1">
    <span class="big-comb__selected">Россия</span>
    <img src="/src/svg/arrow-down.svg" alt="arrow" loading="lazy" width='10' height='18'>

    <div class="big_comb__items" onclick="zzz(event)">
        <div>Альметьевск Альметьевск Альметьевск</div>
        <div>Астрахань</div>
        <div>Бугульма</div>
        <div>Буинск</div>
        <div>Екатеринбург</div>
        <div>Казань</div>
        <div>Магнитогорск</div>
        <div>Набережные Челны</div>
        <div>Нижнекамск</div>
        <div>Нижний Тагил</div>
        <div>Оренбург</div>
        <div>Самара</div>
        <div>Саранск</div>
        <div>Стерлитамак</div>
        <div>Тольятти</div>
        <div>Тула</div>
        <div>Ульяновск</div>
        <div>Уфа</div>
    </div>
</div>

<style>
    .big-combo {
        width: calc(100% - 24px);
        background: white;
        padding: 12px;
        border-radius: 10px;
        position: relative;
    }

    .big-combo img {
        float: right;
        opacity: 0.5;
        margin-left: 8px;
        width: 10px;
        rotate: 0deg;
        transition: rotate 0.2s;
    }


    .big_comb__items {
        display: none;
        position: absolute;
        width: 90%;
        top: 48px;
        right: 10px;
        z-index: 1000000;
        padding: 8px 5px;
        max-height: 240px;
        overflow-y: auto;
        scrollbar-width: none;
        border-radius: 12px;
        background-color: #ffffff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
        cursor: pointer;

    }

    .big-combo:focus {
        outline: 1px dotted #999;
    }

    .big-combo:focus .big_comb__items {
        display: block;
    }

    .big-combo:focus img {
        rotate: 180deg;
    }

    .big_comb__items div {
        padding: 10px;
    }

    .big_comb__items div:hover {
        background: var(--color-light-blue);
    }

    .big-comb__selected {
        padding-left: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #6d6c6c;
    }

    /**/

    .frame-filter__controls {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
    }

    @media (max-width: 533px) {
        .frame-filter__controls {
            justify-content: space-between;
            gap: 16px;
        }
    }

    .frame-filter__controls-advanced, .frame-filter__controls-reset {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        font-size: 15px;
        line-height: 125%;
        color: #000000;
        text-align: left;
        border: none;
        outline: none;
        background: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    @media (max-width: 533px) {
        .frame-filter__controls-advanced, .frame-filter__controls-reset {
            font-size: 12px;
            line-height: 156%;
        }
    }

    .frame-filter__controls-advanced-icon {
        position: relative;
        display: inline-block;
        height: 16px;
        width: 28px;
        padding: 2px;
        box-sizing: border-box;
        border: 2px solid #000000;
        border-radius: 28px;
    }

    .frame-filter__controls-advanced-icon::before {
        content: "";
        position: absolute;
        left: 2px;
        top: 50%;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 16px;
        background-color: #000000;
        transform: translateY(-50%);
        transition: left ease-in-out 0.1s;
    }

    .frame-filter__controls-advanced.active .frame-filter__controls-advanced-icon::before {
        left: calc(100% - 8px);

    }

    .frame-filter__controls-reset {
        color: #6d6c6c;
    }

    .frame-filter__controls-reset::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(/src/svg/reset.svg) center no-repeat;
    }

    @media (max-width: 533px) {
        .frame-filter__submit {
            width: 100%;
        }
    }
    .frame-filter__submit {
        margin-left: auto;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        padding: 12px 20px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 15px;
        line-height: 125%;
        text-align: center;
        color: #ffffff;
        border: 1px solid #e32136;
        border-radius: 7px;
        background-color: #e32136;
        transition: all ease-in-out 0.1s;
        cursor: pointer;
    }

</style>