<div class="main__card-product--calc">
    <h2>
        Кредит на спец. условиях
    </h2>
    <div class="form__card-calc">
        <div class="form__card-calc--top">
            <div class="row">
                <div class="box">
                    <div class="name">
                        Первый взнос
                    </div>
                    <div class="down_payment" id="fstPay">61&nbsp;546&nbsp;<span class="page__rubl"></span></div>
                </div>
                <div class="box">
                    <div class="name">
                        Ежемесячный платеж
                    </div>
                    <div class="mountly_payment" id="creditPayMounth">от 1&nbsp;180&nbsp;<span class="page__rubl"></span>/мес</div>
                </div>
            </div>
        </div>
        <!-- /.form__card-calc--top -->
        <div class="form__card-calc--middle">
            <div class="row">
                <div class="box">
                    <div class="name">
                        Cумма кредита
                    </div>
                    <div class="slider">
                        <div class="slider__text">
                            <div class="slider__text--buffer">
                                <div class="buffer js-buffer">61&nbsp;546</div>
                                <input type="text" value="61&nbsp;546" name="creditAmount_format" class="input js-input" style="width: 72.2969px;">
                                <input type="hidden" value="61545.5" name="creditAmount" class="sendVal" data-copy="PROPERTY[43][0]">
                            </div>
                            <!-- /.slider__text--buffer -->
                            <span class="page__rubl"></span>
                        </div>
                        <!-- /.slider__text -->
                        <div class="slider__ui">
                            <div class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" id="creditAmount" data-start="61545.5" data-min="12000" data-max="123091"><div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min" style="width: 45.045%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 45.045%;"></span></div>
                            <!-- /.ui-slider -->
                        </div>
                        <!-- /.slider__ui -->
                    </div>
                    <!-- /.slider -->
                </div>
                <div class="box">
                    <div class="name">
                        Срок кредита
                    </div>
                    <div class="slider">
                        <div class="slider__text">
                            <div class="slider__text--buffer">
                                <input type="text" value="5 лет" name="creditTerm_format" class="input js-inp sendVal" data-copy="PROPERTY[47][0]">
                                <input type="hidden" value="5" name="creditTerm">
                                <div class="buffer js-buff"></div>
                            </div>
                        </div>
                        <!-- /.slider__text -->
                        <div class="slider__ui">
                            <div class="ui-slide ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" id="creditTerm"><div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min" style="width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
                            <!-- /.ui-slide -->
                        </div>
                        <!-- /.slider__ui -->
                    </div>
                    <!-- /.slider -->
                </div>
            </div>
        </div>
        <!-- /.form__card-calc--middle -->
        <div class="form__card-calc--bottom">
            <script>
                $(function() {
                    $('[name="PROPERTY[934][0]"]').val('ВАЗ (LADA) 2106, 2002 (XTK21060020027609)'); //car
                    $('[name="PROPERTY[928][0]"]').val('Альметьевск, Герцена 1Б');
                });
            </script>


            <form action="/bitrix/components/befa/popup.form/.ajax.php" name="popup_form" id="popup_form_7563" class="popup_form" enctype="multipart/form-data" method="POST">
                <input type="hidden" name="FORM_URL" value="/cars/2106/651138/">
                <input type="hidden" name="iblock_id" value="14">
                <input type="hidden" name="success_msg" value="Сообщение успешно отправлено">
                <input type="hidden" name="req" value="45,NAME">
                <input type="hidden" name="validate_email" value="46">
                <input type="hidden" name="send_email" value="">
                <input type="hidden" name="copy_email" value="">
                <input type="hidden" name="email_event_type" value="POPUP">
                <input type="hidden" name="email_event_template_admin" value="10">
                <input type="hidden" name="status_new" value="N">
                <div class="comagic_fields">
                    <input type="hidden" name="site_key">
                    <input type="hidden" name="visitor_id">
                    <input type="hidden" name="hit_id">
                    <input type="hidden" name="session_id">
                    <input type="hidden" name="consultant_server_url">
                    <script>
                        var __int=setInterval(function(){if(window.Comagic&&"function"==typeof window.Comagic.getCredentials){var a=Comagic.getCredentials();for(var b in a)a.hasOwnProperty(b)&&a[b]&&$("form#popup_form_7563 input[name=\""+b+"\"]").val(a[b])}},4e3);
                    </script>
                </div>


                <div class="form_error"></div>


                <div class="row">



                    <div class="box block S">
                        <div class="form__group form__group--label">
                            <input type="text" rel="" id="form_text_NAME" class="input js-used" name="PROPERTY[NAME][0]" size="25" value="">
                            <label id="text_NAME" class="popup_item">Ваше имя<span class="starrequired">*</span></label>
                        </div>
                    </div>


                    <input type="hidden" rel="CAR" id="form_text_934" class="input" name="PROPERTY[934][0]" size="25" value="ВАЗ (LADA) 2106, 2002 (XTK21060020027609)">



                    <div class="box block S">
                        <div class="form__group form__group--label">
                            <input type="text" rel="PHONE" id="form_text_45" class="input js-used" name="PROPERTY[45][0]" size="25" value="">
                            <label id="text_45" class="popup_item">Ваш телефон<span class="starrequired">*</span></label>
                        </div>
                    </div>


                    <input type="hidden" rel="CITY" id="form_text_928" class="input" name="PROPERTY[928][0]" size="25" value="Альметьевск, Герцена 1Б">


                    <input type="hidden" rel="CREDIT_BEGIN" id="form_text_44" class="input" name="PROPERTY[44][0]" size="25" value="61545.5">


                    <input type="hidden" rel="CREDIT_MONTH" id="form_text_47" class="input" name="PROPERTY[47][0]" size="25" value="5 лет">


                    <input type="hidden" rel="PRICE" id="form_text_43" class="input" name="PROPERTY[43][0]" size="25" value="">

                    <label class="pp_label" style="display: none;"><input type="checkbox" name="policy" checked="checked" id="pp_7563"></label>

                    <!--<input type="button" class="send_btn" onclick="sent_form($(this).closest('form'));" value="Отправить" />-->
                    <div class="box">
                        <div class="form__card-calc--button">
                            <button type="submit" class="page__btn page__btn--main f-6"><span>Оставить заявку</span></button>
                        </div>
                        <div class="modal__personal">
                            <input type="checkbox" id="personal_agree_7563">
                            <label for="personal_agree_7563">
                                Нажав кнопку «Отправить» я даю согласие
                                на обработку
                                <a href="/privacy-policy/" target="_blank">персональных данных</a>
                            </label>
                        </div>
                        <div class="modal__error" id="personal_error_7563">Вы должны дать согласие на обработку персональных данных</div>
                    </div>
                    <div class="box" style="text-align: -webkit-right;">
                        <div id="g_7563"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-fs9qyt6qgg0m" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfVEHsoAAAAAMPu1zqgnZkNQoSGMtYffz36y7xc&amp;co=aHR0cHM6Ly94bi0tODBhZWo5YXBlZDRmLnhuLS1wMWFpOjQ0Mw..&amp;hl=ru&amp;v=naPR4A6FAh-yZLuCX253WaZq&amp;size=normal&amp;anchor-ms=20000&amp;execute-ms=15000&amp;cb=t4192jd5buiz"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                        <div class="text-recaptcha-7563" style="color: #e22427;"></div>
                    </div>
                    <div class="box">
                        <div class="form__card-calc--desc">
                            Заполните форму и мы свяжемся с вами в течение 30 мин. для уточнения деталей. Или позвоните прямо сейчас по номеру <a href="tel:88005001156">8-800-500-11-56</a>
                        </div>
                        <!-- /.form__card-calc--desc -->
                    </div>




                    <script>


                        $(window).on("load", function() {

                            function policyAgree7563(formSelector) {
                                const form = document.querySelector(formSelector);
                                const checkbox = form.querySelector('#personal_agree_7563');
                                const error = form.querySelector('#personal_error_7563');

                                if (form) {
                                    if (!checkbox.checked) {
                                        error.style.display = 'block';
                                        checkbox.focus();
                                        return false;
                                    } else {
                                        error.style.display = 'none';
                                    }
                                }

                                return true;
                            }

                            $('.f-6').removeAttr('disabled');
                            //$('#popup_form_7563 input[rel="PHONE"]').mask('+7(999) 999-99-99');
                            setTimeout(function (){
                                function onRecaptchaLoad() {
                                    let g_7563;

                                    function recaptchaCallback() {
                                        g_7563 = grecaptcha.render('g_7563', {
                                            'sitekey': '6LfVEHsoAAAAAMPu1zqgnZkNQoSGMtYffz36y7xc',
                                            'callback' : correctCaptcha
                                        });
                                    }

                                    var correctCaptcha = function(response) {
                                        capResponse = response;
                                        console.log(capResponse);
                                    };

                                    recaptchaCallback();
                                }
                                onRecaptchaLoad();
                            }, 200);
                            $('.popup_form').on('submit', function(e) {

                                e.preventDefault();
                                if(grecaptcha.getResponse() == "" && false) {
                                    e.preventDefault();
                                    alert("Ошибка! Проверка не пройдена.");
                                } else if (!policyAgree7563('#popup_form_7563')) {
                                    console.log('no agreement');
                                } else {
                                    $('#popup_form_7563').ajaxSubmit(
                                            {
                                                dataType: "json",
                                                beforeSubmit: function () {
                                                    $('.pp_label input').change(function(){$('.pp_label').removeClass('err')});
                                                    if(!$('#popup_form_7563 #pp_7563').is(':checked'))
                                                    {
                                                        $('#popup_form_7563 .pp_label').addClass('err');
                                                        return false;
                                                    }
                                                    $('#popup_form_7563 .form_loading').css('display', 'block');
                                                    $('.f-6').attr('disabled', 'disabled');
                                                },
                                                success: function (responseText, statusText, xhr, $form) {
                                                    $('#popup_form_7563 .form_loading').css('display', 'none');
                                                    console.log(responseText);
                                                    var response = grecaptcha.getResponse();
                                                    // Отправляем значение reCAPTCHA на сервер для проверки
                                                    if (responseText.status == 'error') {

                                                        console.log('error');
                                                        $('#popup_form_7563 .block input').removeClass('error');
                                                        $('#popup_form_7563 .block select').removeClass('error').trigger('refresh');
                                                        $('#popup_form_7563 .block textarea').removeClass('error');
                                                        for (i = 0; i < responseText.REQUARED.length; i++) {
                                                            $('#popup_form_7563 #form_text_' + responseText.REQUARED[i]).addClass('error');
                                                            $('#popup_form_7563 select[name="PROPERTY['+ responseText.REQUARED[i]+']"]').addClass('error').trigger('refresh');
                                                        }
                                                        $('.f-6').removeAttr('disabled');
                                                        $('.text-recaptcha-7563').html('');
                                                        grecaptcha.reset();
                                                        console.log('k2');

                                                    }else if (responseText.status == 'success') {

                                                        console.log('k3');
                                                        $('.text-recaptcha-7563').html('');
                                                        console.log('success');

                                                        // sendAnalyticsGoal('post_credit_auto_cart');

                                                        $('#popup_form_7563 .block input').removeClass('error');
                                                        $('#popup_form_7563 .block select').removeClass('error').trigger('refresh');
                                                        $('#popup_form_7563 .block textarea').removeClass('error');
                                                        $('#popup_form_7563 .block input').val('');
                                                        $('#popup_form_7563 .block textarea').val('');
                                                        $('.f-6').removeAttr('disabled');
                                                        somealert('Сообщение успешно отправлено', 'mess');
                                                        $('#popup_form_7563 .success').fadeIn(800, function () {
                                                            $(this).fadeOut(2000);
                                                        });
                                                        $("#popup_form_7563").html("Спасибо! Ваша заявка успешно отправлена, в ближайшее время мы выйдем с Вами на связь.");

                                                    }else if (responseText.status == 'captchaError') {

                                                        console.log('ReCaptcha error');
                                                        $('.f-6').removeAttr('disabled');
                                                        $('.text-recaptcha-7563').html('Проверка не пройдена, попробуйте ещё раз.');
                                                        $('#popup_form_7563 .block select').removeClass('error').trigger('refresh');

                                                    }
                                                },
                                            });
                                }
                            });
                            //$('#form_text_43').val(carPrice+' руб');
                            //$('#form_text_934').val(carName).attr('readonly', 'readonly');
                        });
                        $("input[rel='PHONE']").mask("+7 (999) 999-99-99");
                    </script>                                </div></form>
        </div>
        <!-- /.form__card-calc--bottom -->
    </div>
    <!-- /.form__card-calc -->
</div>