<div class="header">
    <div class="container">
        <div class="header_logo">
            <a href="/">
                <img class="header__logo-image" src="/src/images/logo_20.svg" alt="logo">
            </a>
        </div>
        <nav class="header__nav">
            <a class="header__nav-link" href="/cars/">Купить</a>
            <a class="header__nav-link" href="/services/vykup/">Продать</a>
            <a class="header__nav-link active" href="/tyres/">Каталог шин</a>
        </nav>
        <div class="header__select">
            {{> 'combobox/comb'}}
        </div>
    </div>
</div>