<div class="header">
    <div class="container">
        <div class="header__logo">
            <a class="header__logo-link" href="/">
                <img class="header__logo-image" src="/src/images/logo_20.svg" alt="logo">
            </a>
        </div>
        <nav class="header__nav">

            <ul class="header__nav-menu">
                <li class="header__nav-menu-item">
                    <a class="header__nav-link" href="/cars/">Купить</a>
                </li>
                <li class="header__nav-menu-item">
                    <a class="header__nav-link" href="/services/vykup/">Продать</a>
                </li>
                <li class="header__nav-menu-item">
                    <a class="header__nav-link" href="/tyres/">Каталог шин</a>
                </li>
            </ul>
            <div class="custom-select" data-value="">
                <!--'start_frame_cache_7DqYyc'-->    <select id="location" name="infoCategory">
                <option value="10317">Альметьевск</option>
                <option value="444486">Астрахань</option>
                <option value="444483">Бугульма</option>
                <option value="444480">Буинск</option>
                <option value="444482">Екатеринбург</option>
                <option value="444489">Казань</option>
                <option value="594119">Магнитогорск</option>
                <option value="10318" selected="">Набережные Челны</option>
                <option value="444481">Нижнекамск</option>
                <option value="647124">Нижний Тагил</option>
                <option value="590135">Оренбург</option>
                <option value="444477">Самара</option>
                <option value="592314">Саранск</option>
                <option value="444479">Стерлитамак</option>
                <option value="444485">Тольятти</option>
                <option value="590632">Тула</option>
                <option value="444487">Ульяновск</option>
                <option value="444476">Уфа</option>
            </select>
                <!--'end_frame_cache_7DqYyc'-->
                <div class="custom-select__selected"><span class="custom-select__selected-text">Набережные Челны</span>
                </div>
                <div class="custom-select__items custom-select__hide">
                    <div class="custom-select__item custom-select__same-as-selected">Альметьевск</div>
                    <div class="custom-select__item">Астрахань</div>
                    <div class="custom-select__item">Бугульма</div>
                    <div class="custom-select__item">Буинск</div>
                    <div class="custom-select__item">Екатеринбург</div>
                    <div class="custom-select__item">Казань</div>
                    <div class="custom-select__item">Магнитогорск</div>
                    <div class="custom-select__item">Набережные Челны</div>
                    <div class="custom-select__item">Нижнекамск</div>
                    <div class="custom-select__item">Нижний Тагил</div>
                    <div class="custom-select__item">Оренбург</div>
                    <div class="custom-select__item">Самара</div>
                    <div class="custom-select__item">Саранск</div>
                    <div class="custom-select__item">Стерлитамак</div>
                    <div class="custom-select__item">Тольятти</div>
                    <div class="custom-select__item">Тула</div>
                    <div class="custom-select__item">Ульяновск</div>
                    <div class="custom-select__item">Уфа</div>
                </div>
                <div class="custom-select__overlay custom-select__hide"></div>
            </div>
        </nav>
    </div>


</div>