<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <a href="/promo/644340/">
        <img class="img_lg" src="photo/1/1200х501.webp" alt="Сделка через салон">
        <img class="img_md" src="photo/1/585х200.webp" alt="Сделка через салон">
        <img class="img_sm" src="photo/1/278х402.webp" alt="Сделка через салон">
      </a>
    </div>
    <div class="swiper-slide">
      <a class="ad-banners__slide" href="/promo/647168/">
        <img class="img_lg" src="photo/2/1200х501.webp" alt="Постановка на учёт в ГИБДД">
        <img class="img_md" src="photo/2/585х200.webp" alt="Постановка на учёт в ГИБДД">
        <img class="img_sm" src="photo/2/278х402.webp" alt="Постановка на учёт в ГИБДД">
      </a>
    </div>
    <div class="swiper-slide">
      <a class="ad-banners__slide" href="/promo/647169/">
        <img class="img_lg" src="photo/3/1200х501.webp" alt="Поставьте авто на комиссию">
        <img class="img_md" src="photo/3/585х200.webp" alt="Поставьте авто на комиссию">
        <img class="img_sm" src="photo/3/278х402.webp" alt="Поставьте авто на комиссию">
      </a>
    </div>
    <div class="swiper-slide">
      <a class="ad-banners__slide" href="/promo/633448/">
        <img class="img_lg" src="photo/4/1200х501.webp" alt="Премиум авто">
        <img class="img_md" src="photo/4/585х200.webp" alt="Премиум авто">
        <img class="img_sm" src="photo/4/278х402.webp" alt="Премиум авто">
      </a>
    </div>
    <div class="swiper-slide">
      <a class="ad-banners__slide" href="https://xn--80aej9aped4f.xn--p1ai/services/remont-electric/">
        <img class="img_lg" src="photo/5/1200х501.webp" alt="Ремонт автоэлектрики">
        <img class="img_md" src="photo/5/585х200.webp" alt="Ремонт автоэлектрики">
        <img class="img_sm" src="photo/5/278х402.webp" alt="Ремонт автоэлектрики">
      </a>
    </div>
    <div class="swiper-slide">
      <a class="ad-banners__slide" href="/promo/644223/">
        <img class="img_lg" src="photo/6/1200х501.webp" alt="Выкуп автомобилей с пробегом">
        <img class="img_md" src="photo/6/585х200.webp" alt="Выкуп автомобилей с пробегом">
        <img class="img_sm" src="photo/6/278х402.webp" alt="Выкуп автомобилей с пробегом">
      </a>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>


<link rel='stylesheet' href='swiper-bundle.min.css' />
<link rel='stylesheet' href='/src/css/swiper.css' />


<!-- Initialize Swiper -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    var swiper = new Swiper('.mySwiper', {
      spaceBetween: 30,
      autoHeight: true,
      centeredSlides: true,
      // autoplay: {
      //   delay: 5000,
      //   disableOnInteraction: false
      // },
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    });
  });

</script>
