.alone {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.left {
    background: grey;
    min-width: 440px;
    flex: 1.8;
}

.right {
    flex: 1.2;
    min-width: 340px;
}

.sticky {
    position: sticky;
    top: 2.5em;
    bottom: 1.875em;
}

.right__title {
    font-weight: 900;
    font-size: 1.70em;
    color: #000;
    line-height: 1.3;
}

.right__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.right__price .total {
    font-weight: 600;
    font-size: 1.5em;
    color: #000;
    white-space: nowrap;
    margin-right: 0.625em;
}



.right__price .price__of {
    color: #E22427;
    font-weight: 500;
    white-space: nowrap;
}

.right__tech {
    margin-top: 3.25em;
}

.right__tech .title {
    font-weight: 600;
    font-size: 1.25em;
    color: #000;
}

.right__tech--block {
    padding-top: 1.125em;
}

.right__bottom .page__btn {
    min-width: 100%;
}



.page__btn {
    padding: 15px 0 ;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    min-width: 190px;
    display: inline-block;
    position: relative;
    color: white;
    cursor: pointer;
}

.page__btn--main {
    background-color: #191E21;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.right__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right__tech--box {
    margin-bottom: 0.8em;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    gap: 8px;
}




.right__bottom {
    margin-top: 4em;
}


.right__bottom .box {
    flex: 0 0 45%;
    max-width: 45%;
    margin-bottom: 0.625em;
    position: relative;
}

.page__btn--current {
    background-color: #E22427;
}

.page__btn--tr {
    margin-top: 4px;
    background-color: #fff;
    color: #000 !important;
    border: 1px solid #000;
    text-decoration: none;
}
