.main__top--block{
    margin-top: 2.25em;
}

@media (max-width: 500px) {
    .main__top--block{
        display: none;
    }
}

.main__top--block .page__flex {
    margin-left: -15px;
    margin-right: -15px;
}

.main__top--block .box {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.main__top--block .box ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main__top--block .box ul li {
    margin-bottom: 1.25em;
}

.main__top--block .box ul li a {
    outline: none;
    border: none;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main__top--block .box ul li a .icon {
    min-width: 2.5em;
    margin-right: 5px;
    line-height: 0;
    transition: all 0.4s
    ease-in 0s;
    -webkit-transition: all 0.4s
    ease-in 0s;
    -moz-transition: all 0.4s ease-in 0s;
    -ms-transition: all 0.4s ease-in 0s;
    -o-transition: all 0.4s ease-in 0s;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.main__top--block .box ul li a .icon img {
    margin: 0 auto;
    max-width: 37px !important;
}
.main__top--block .box ul li a .text {
    font-weight: 600;
    color: #000;
    margin-right: 5px;
    transition: all 0.4s
    ease-in 0s;
    -webkit-transition: all 0.4s
    ease-in 0s;
    -moz-transition: all 0.4s ease-in 0s;
    -ms-transition: all 0.4s ease-in 0s;
    -o-transition: all 0.4s ease-in 0s;
}

.main__top--block .box ul li a .total {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}