.comb {
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

.comb__selected {
    font-weight: 600;
    color: #e32136;
    padding: 0;
    padding-left: 24px;
    background: url(/src/images/location.svg) center left no-repeat;
}

.comb_field {
    display: flex;
    margin-right: 8px;
}

.comb_field img {
    opacity: 0.5;
    margin-left: 8px;
    width: 10px;
    rotate: 0deg;
    transition: rotate 0.2s;
}

.comb__items {
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    z-index: 1000;
    text-align: center;
    padding: 8px 0;
    max-height: 240px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    line-height: 160%;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

@media (width < 600px) {
    .comb {
        font-size: 14px;
        width: 30px;
    }

    .comb__items {
        left: -60px;
    }

    .comb__selected {
        font-family: 'Gilroy-Bold', sans-serif;
        white-space: nowrap;
        /*text-overflow: ellipsis;*/
        /*overflow: hidden;*/
        /*width: 160px;*/
    }
}

.comb__selected:focus .comb__items {
    background: red;
    border: 3px solid red;
}

.comb__item {
    padding: 0 12px;
}

.comb__item:hover {
    background: #f1f8fb;
}