@font-face {
    font-family: "Gilroy";
    src: url("@/fonts/Gilroy-Light.otf");
    font-style: normal;
    font-weight: 400;
}

/*@font-face {*/
/*    font-family: "Gilroy-Bold";*/
/*    src: url("@/fonts/Gilroy-ExtraBold.otf");*/
/*    font-weight: 400;*/
/*}*/

body {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    border-radius: 5px;
}