:root {
    --color-red: #E22427;
    --color-light-blue: #f1f8fb;
    --color-grey:#f2f2f7;
}

@font-face {
    font-family: "Gilroy";
    font-display: swap;
    src: url("@/fonts/Gilroy-Light.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Bold";
    font-display: swap;
    src: url("@/fonts/Gilroy-ExtraBold.otf");
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

main {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

main .container {
    margin: 0 20px;
}

main .container h2 {
    font-family: "Gilroy-Bold";
}

#mainPhoto, .mainPhoto_little {
    width: 100%;
    cursor: pointer;
}

.mainPhoto_little {
    display: none;
}

#mainPhoto {
    aspect-ratio: 1200/500
}

@media (max-width: 500px) {
    #mainPhoto {
        display: none;
        aspect-ratio: 483/534
    }

    .mainPhoto_little {
        display: block;
    }
}
.page_padding_20{
    padding: 20px;
}
.page_padding_20 h2{
    font-family: system-ui, Gilroy-Bold;
}
.page_padding_20 a{
    text-decoration: none;
}

.bread_cranbs{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: .7em;
}

.bread_cranbs a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.bread_cranbs a:hover{
    color: var(--color-red);
}
.geography{
    margin-bottom: 60px;
}