@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("/src/fonts/Gilroy-ExtraBold.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("/src/fonts/Gilroy-Light.otf");
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
}



body {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: #333;
}

nav {
    margin: 10px 0;
    text-align: center;
}

nav .header__nav-link {
    margin: 0 10px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

@media (width <500px) {
    nav {
        margin: 5px 0;
    }

    nav .header__nav-link {
        font-size: 13px;
        margin: 0 5px;
    }
}
nav .header__nav-link:hover , nav .header__nav-link.active{
    color: #e32136;
}

main {
    padding: 20px;
    background: white;
    border-radius: 5px;
}