.header {
    z-index: 100;
    padding: 20px 0;
    border-bottom: 2px solid #0000000d;
}

@media (max-width: 576px) {
    .header {
        padding:0 12px;
    }
    header{
        margin-top: 150px;
    }
    .container {
        position: fixed;
        background-color: #fff;
        z-index: 100;
        padding: 15px 0 9px;
        border-bottom: 2px solid #0000000d;


    }
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "logo nav comb";
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
}
.header__logo-image {
    max-width: 223px;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: auto auto;
        grid-template-areas:
                "logo logo"
                "nav comb";
        justify-items: right;
    }

    .header__logo-image {
        max-width: 192px;
        margin-left: 5px;
    }
}

.header__logo {
    grid-area: logo;
}

.header__nav {
    grid-area: nav;
}

.header__select {
    grid-area: comb;
}