.header {
    position: relative;
    z-index: 22;
    padding: 20px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}



.header__logo {
    flex: 0 0 auto;
    order: 0;
}

.header__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo-image {
    display: block;
    max-width: 223px;
    height: auto;
}


.header__nav {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 24px;
    order: 1;
}

.header__nav-menu {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.header__nav-menu-item {
    list-style: none;
}

.header__nav-link {
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    line-height: 133%;
    color: #000000;
    transition: color ease-in-out 0.1s;
}