.header__nav .custom-select {
    width: auto;
}

.custom-select {
    position: relative;
    margin: 0;
    width: 100%;
    border: none;
}

.custom-select > select {
    display: none;
}

/*select:not(:-internal-list-box):not([multiple]) option {*/
/*    min-inline-size: 24px;*/
/*    min-block-size: -internal-auto-base(24px, max(24px, 1lh));*/
/*    font-weight: -internal-auto-base(normal, inherit);*/
/*    padding-block-end: -internal-auto-base(1px, 0);*/
/*    display: -internal-auto-base(block, flex);*/
/*    align-items: center;*/
/*    padding-inline: -internal-auto-base(2px, 0.5em);*/
/*    gap: 0.5em;*/
/*}*/

.header__nav .custom-select__selected {
    padding: 0;
    padding-left: 24px;
    background: url(/src/images/location.svg) center left no-repeat;
}

.custom-select__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 13px 15px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #6d6c6c;
    border: none;
    border-radius: 7px;
    background-color: white;
    outline: none;
    user-select: none;
    cursor: pointer;
}

.header__nav .custom-select__selected-text {
    max-width: none;
    width: 100%;
    overflow: hidden;
    font-weight: 600;
    font-size: 15px;
    line-height: 125%;
    color: #e32136;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-select__selected-text {
    display: inline-block;
    text-overflow: ellipsis;
    border-radius: 32px;
}

.custom-select__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 13px 15px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #6d6c6c;
    border: none;
    border-radius: 7px;
    background-color: white;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}

.header__nav .custom-select__items {
    padding: 6px 4px;
}

.custom-select__items {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    max-height: 240px;
    min-width: -moz-max-content;
    min-width: max-content;
    overflow-y: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #000000;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

/*.custom-select__hide {*/
/*    display: none !important;*/
/*}*/

.header__nav .custom-select__item {
    padding: 6px 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: #000000;
}