@media (width < 500px) {
    .swiper a .img_lg, .swiper a .img_md {
        display: none;
    }
}

@media (width > 500px) and (width <1000px) {
    .swiper a .img_lg, .swiper a .img_sm {
        display: none;
    }
}

@media (width > 1000px){
    .swiper a .img_sm, .swiper a .img_md {
        display: none;
    }
}


.swiper {
    width: 95%;
    z-index: 10;
    border-radius: 12px;
    max-width: 1180px;
    display: block;


    background: pink;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}