@media (width < 500px) {
    .swiper a .img_lg, .swiper a .img_md {
        display: none;
    }
}

@media (width <= 1000px) and (width >= 500px) {
    .swiper a .img_lg, .swiper a .img_sm {
        display: none;
    }
}

@media (width > 1000px) {
    .swiper a .img_sm, .swiper a .img_md {
        display: none;
    }
}


.swiper {
    width: 95%;
    z-index: 10;
    border-radius: 12px;
    max-width: 1180px;
    display: block;
}

.swiper-slide {
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    background: #00000000;
    padding: 50px 40px;
    right: -35px;
    margin-top: -70px;
}

.swiper-button-prev {
    left: -35px;
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 26px;
    border-radius: 26px;
    background-color: #e32136;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: inherit;
    color: white;
}