.fullBanner {
    position: relative;
    min-height: 40vh;
    background-position: center center;
    background-size: cover;
    background-image: url(/photo/banner_vykup.webp);
}

.fullBanner:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00000000 0%, #000000A5 53%, #000000F2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
}

.fullBanner .bread_cranbs {
    color: white;
}

.fullBanner .bread_cranbs a {
    color: #fff9;
}

@media (max-width: 1240px) {
    .fullBanner .page__flex, .formBlock .page__flex {
        padding: 0 20px !important;
    }
}

.fullBanner .page__flex {
    padding-left: 30px;
    align-items: end;
}

.fullBanner .textBlock {
    font-family: Gilroy-Bold, sans-serif;
    color: white;
    margin-bottom: 60px;
}
@media (max-width: 500px) {
    .fullBanner .textBlock {
        margin-bottom: 0;
        font-size: smaller;
    }
}

.fullBanner h1 strong, .fullBanner h2 strong {
    color: var(--color-red);
}

.fullBanner p.grey {
    background: url(/src/svg/icon_mouse.svg) left center no-repeat;
    font-size: 0.9em !important;
    font-family: Gilro, sans-serif;
    opacity: 0.6;
    padding-left: 30px;
    line-height: 21px;
    margin-top: 10px;
    color: white;
}

/***/

@media (min-width: 768px) {
    .fullBanner .formBlock, .fullBanner .textBlock {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .fullBanner .formBlock {
        display: none;
    }
}

.formBlock .wrap {
    background: #181a1b;
    margin-bottom: 73px;
    text-align: center;
}


.fullBanner .formBlock .wrap {
    background: #fff;
    padding: 40px;
    max-width: 340px;
    border-radius: 5px;
    float: right;
}


.formBlock .title {
    font-size: 1.3em;
    font-weight: 600;
    font-family: Gilroy-Bold, sans-serif;
    margin: 0 0 30px 0;
}


.form__modal--group {
    margin-bottom: 1.25em;
}

@media (min-width: 576px) {
    .form__group input {
        height: 3rem;
    }
}

.form__group{
    position: relative;
}

.form__group input, .form__group textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 7px 10px;
    border-radius: 5px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.875em;
    font-weight: 600;
    outline: none;
    border: none;
    height: 2.8125rem;
    background-color: var(--color-grey);
}

.form__group label {
    display: block;
    text-align: center;
    font-size: 0.875em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
    user-select: none;
    transform: translateX(0) translateY(-50%);
    transition: all 0.4s    ease-in 0s;
}

.modal__personal {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    line-height: 1.4;
    margin-top: 10px;
    text-align: left;
        color: #545454;
        font-size: .8em;
}

.modal__personal a {
    font-size: larger;
    text-decoration: underline;
    white-space: nowrap;
    color: #000;
    position: relative;
}