<div class='main-nav cities'>
  <div class="modal-place__indent">
    <div class="modal-place__container--top">
      <div class="page__flex">
        <div class="title">
          Выберите ваш город
        </div>
        <a class="modal-place__close"></a>
      </div>
    </div>
    <div class="modal-place__container--bottom">
      <div class="modal-place__search">
        <form action="" class="form__modal-place">
          <div class="form__modal-place--group">
            <input type="text" placeholder='Название города'>
          </div>
        </form>
      </div>
      <div class="modal-place__container--block">
        <div class="page__flex">
          <div class="modal-place__box">

            <div class="block">
              <div class="letter">
                А
              </div>
              <ul>
                <li>
                  <a data-city="Альметьевск">
                    <span>Альметьевск</span>
                  </a>
                </li>
                <li>
                  <a data-city="Астрахань">
                    <span>Астрахань</span>
                  </a>
                </li>

              </ul>
            </div>

            <div class="block">
              <div class="letter">
                Б
              </div>
              <ul>
                <li>
                  <a data-city="Бугульма">
                    <span>Бугульма</span>
                  </a>
                </li>
                <li>
                  <a data-city="Буинск">
                    <span>Буинск</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="block">
              <div class="letter">
                Е
              </div>

              <ul>
                <li>
                  <a data-city="Екатеринбург">
                    <span>Екатеринбург</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="modal-place__box">

            <div class="block">
              <div class="letter">
                К
              </div>

              <ul>
                <li>
                  <a data-city="Казань">
                    <span>Казань</span>
                  </a>
                </li>

              </ul>
            </div>


            <div class="block">
              <div class="letter">
                М
              </div>

              <ul>
                <li>
                  <a data-city="Магнитогорск">
                    <span>Магнитогорск</span>
                  </a>
                </li>

              </ul>
            </div>


            <div class="block">
              <div class="letter">
                Н
              </div>

              <ul>
                <li>
                  <a data-city="Набережные Челны">
                    <span>Набережные Челны</span>
                  </a>
                </li>
                <li>
                  <a data-city="Нижнекамск">
                    <span>Нижнекамск</span>
                  </a>
                </li>
                <li>
                  <a data-city="Нижний Тагил">
                    <span>Нижний Тагил</span>
                  </a>
                </li>

              </ul>
            </div>


          </div>

          <div class="modal-place__box">

            <div class="block">
              <div class="letter">
                О
              </div>

              <ul>
                <li>
                  <a data-city="Оренбург">
                    <span>Оренбург</span>
                  </a>
                </li>

              </ul>
            </div>


            <div class="block">
              <div class="letter">
                С
              </div>

              <ul>
                <li>
                  <a data-city="Самара">
                    <span>Самара</span>
                  </a>
                </li>
                <li>
                  <a data-city="Саранск">
                    <span>Саранск</span>
                  </a>
                </li>
                <li>
                  <a data-city="Стерлитамак">
                    <span>Стерлитамак</span>
                  </a>
                </li>

              </ul>
            </div>


            <div class="block">
              <div class="letter">
                Т
              </div>

              <ul>
                <li>
                  <a data-city="Тольятти">
                    <span>Тольятти</span>
                  </a>
                </li>
                <li>
                  <a data-city="Тула">
                    <span>Тула</span>
                  </a>
                </li>

              </ul>
            </div>


          </div>

          <div class="modal-place__box">

            <div class="block">
              <div class="letter">
                У
              </div>

              <ul>
                <li>
                  <a data-city="Ульяновск">
                    <span>Ульяновск</span>
                  </a>
                </li>
                <li>
                  <a data-city="Уфа">
                    <span>Уфа</span>
                  </a>
                </li>

              </ul>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>

</div>