<footer class="footer">

<!--  <div class="footer__top">-->
<!--    <div class="page__wrap">-->
<!--      <div class="page__flex">-->
<!--        <div class="box">-->
<!--          <div class="city">-->
<!--            <a href="javascript:;" class="js-place">-->
<!--										<span>-->
<!--				                            Набережные Челны										</span>-->
<!--            </a>-->
<!--          </div>-->
<!--          &lt;!&ndash; /.city &ndash;&gt;-->
<!--          <div class="phone">-->
<!--            <a href="tel:88005001156">8-800-500-11-56</a>-->
<!--          </div>-->
<!--          &lt;!&ndash; /.phone &ndash;&gt;-->
<!--          <div class="address">-->

<!--            <div class="address">-->
<!--              <a href="javascript:void(0);" data-point="55.734962, 52.421602" class="showPoint" id="bx_651765591_29092">-->
<!--        <span>-->
<!--            пр. Хасана Туфана, 3        </span>-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="address">-->
<!--              <a href="javascript:void(0);" data-point="55.674714, 52.281223" class="showPoint" id="bx_651765591_25288">-->
<!--        <span>-->
<!--            пр. Мусы Джалиля, 15        </span>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; /.address &ndash;&gt;-->
<!--          <div class="footer__subscription">-->
<!--            Подписывайтесь на нас-->
<!--            <div class="social">-->
<!--              <a href="https://www.youtube.com/channel/UCY--X0FBPWEw_XeDC4zYlOQ" target="_blank">-->
<!--                <img src="/src/images/yuotube.svg" alt="">-->
<!--              </a>-->
<!--              <a href="https://vk.com/avtoset_rf" target="_blank">-->
<!--                <img src="/src/images/vk.svg" alt="">-->
<!--              </a>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.social &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; /.footer__subscription &ndash;&gt;-->
<!--        </div>-->
<!--        <div class="box">-->

<!--          <div class="item">-->
<!--            <a href="/about-the-company/" class="footer__link">О компании</a>-->

<!--            <a href="/franshiza/" class="footer__link">Партнерам</a>-->

<!--            <a href="/landlords/" class="footer__link">Арендодателям</a>-->

<!--            <a href="/work-in-autosite/" class="footer__link">Вакансии</a>-->

<!--            <a href="/contacts/" class="footer__link">Контакты</a>-->

<!--            <a href="/privacy-policy/" class="footer__link">Политика конфиденциальности</a>-->


<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="footer__top--middle">-->
<!--      Подписывайтесь на нас-->
<!--      <div class="social">-->
<!--        <a href="https://www.youtube.com/channel/UCY--X0FBPWEw_XeDC4zYlOQ" target="_blank"> <img src="/local/templates/autoset_2021/img/icon/youtube-icon.svg" alt="" class="mw-100 d-block"> </a>-->
<!--        <a href="https://vk.com/avtoset_rf" target="_blank"> <img src="/local/templates/autoset_2021/img/icon/vk-icon.svg" alt="" class="mw-100 d-block"> </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; /.footer__top &ndash;&gt;-->
<!--  <div class="footer__bottom">-->
<!--    <div class="page__wrap">-->
<!--      <div class="page__flex">-->
<!--        <div class="box">-->
<!--          <div class="coopyright">-->
<!--            ©&nbsp;2004-2025&nbsp;Автосеть.рф-->
<!--          </div>-->
<!--          <div>-->
<!--            ООО "Спектр"<br>ИНН 1657225323-->
<!--          </div>-->
<!--          <div>-->
<!--            Сайт является средством массовой информации <a href="/privacy-policy/">Политика конфиденциальности</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash; /.footer__bottom &ndash;&gt;-->

{{> 'footer/fixed-footer'}}
</footer>

