<div class="main__page">
  <div class="page__wrap">

    <div class="page__flex">
      <div class="main__page--box">
        <a href="/cars/">
          <div class='div_img car'></div>
          <span class="text">
								Каталог
							</span>
        </a>
      </div>
      <div class="main__page--box">
        <a href="/personal/favorite-cars/">
          <div class='div_img zvezda'></div>

          <span class="text">
								Сохраненные
							</span>
        </a>
      </div>
      <div class="main__page--box">
        <a href="https://telegram.me/Autoset_RF_bot" target="_blank">
          <div class='div_img comment'></div>
          <span class="text">
								Telegram
							</span>
        </a>
      </div>
      <div class="main__page--box">
        <a href="/contacts/">
							<span class="icon">
                <div class='div_img adress'></div>
							</span>
          <span class="text">
								Адреса
							</span>
        </a>
      </div>
    </div>
  </div>
</div>