<div class="main__page">
  <div class="page__wrap">

    <div class="page__flex">
      <div class="main__page--box">
        <a href="/cars/">
          <img src='src/images/car.svg' alt=''>
          <span class="text">
								Каталог
							</span>
        </a>
      </div>
      <div class="main__page--box">
        <a href="/personal/favorite-cars/">

          <img src='src/images/zvezda.svg' alt=''>

          <span class="text">
								Сохраненные
							</span>
        </a>
      </div>
      <div class="main__page--box">
        <a href="https://telegram.me/Autoset_RF_bot" target="_blank">
          <img src='src/images/comment.svg' alt=''>
          <span class="text">
								Telegram
							</span>
        </a>
      </div>
      <div class="main__page--box">
        <a href="/contacts/">
							<span class="icon">
								<img src='src/images/adres.svg' alt=''>
							</span>
          <span class="text">
								Адреса
							</span>
        </a>
      </div>
    </div>
  </div>
</div>