
.header {
    height: 100vh;
    position: relative;
    background-color: #2e3540;
    background-image: url(../img/background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.header-section{
    max-width: 1200px;
    /*height: 100vh;*/
    margin: 0 auto;
    z-index: 10;
}

.logo{
    margin-top: 55px;
    width: 280px;
}

.h1, .h3{
    font-size: 71px;
    color: var(--color-yellow);
    margin: 6px 0 ;
    letter-spacing: 0.6px;
}

.header .h2{
    font-size: 42px;
    color: white;
    margin: 0;
}

.block{
    border-radius: 3px;
    background-color: #ffffff77;
    backdrop-filter: blur(5px);
    width: 300px;
    text-align: center;
}

.bl{
    backdrop-filter: blur(0);
}

.block_1{
    width: 360px;
    padding: 20px;
}


.block_1 h2{
    font-size: 1.8em;
    margin: 0;
    line-height: 1.5;
    font-weight: 700;
}
.block_1 p{
    line-height: 1.5;
    margin: 10px;
}


.t-input {
    border: 0;
    box-sizing: border-box;
    height: 50px;
    outline: none;
    padding: 0 20px;
    width: 100%;
    font-size: 0.9em;
    font-weight: 100;
    margin: 10px 0;
}
.t-button{
    background: var(--color-yellow);
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    height: 50px;
    outline: none;
    margin: 10px 0;
    width: 100%;
}

.f-house{
    display: none;
}

.f2-house{
    position: absolute;
    right: inherit;
    right: -420px;
    /*margin-top: 85px;*/
    z-index: 0;
    top:100px;
    display: block;
}


@media (max-width: 730px) {
    .header{
        height: inherit;
        padding-bottom: 30px;
    }
    .header-section{
        text-align: center;
    }
    .f-house{
        right: inherit;
        width: 100%;
    }
    .f2-house{
        display: none;
    }
    .on-fon{
        display: none;
    }
    .h1{
        font-size: 42px;
        margin-top: 42px;
    }
    .header .h2{
        font-size: 25px;
    }
    .block{
        margin: 0 auto;
    }
    .block_1{
        width: 260px;
    }


}
