<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <style>
        body {
            font-size: larger;
            text-align: center;
            font-family:Verdana
        }

        input, textarea {
            width: 95%;
            font-size: larger;
            text-align: center;
            resize: vertical;
        }

        button {
            padding: 8px;
            font-size: larger
        }



    </style>
</head>
<body>

<div id="app">
    <div v-for="(l, ind) in list"
         style="background: pink; margin-bottom: 12px">
        <br>
        <input placeholder="Введите название магазина WB" style="width: 73%" v-model="l.name"/>

        <textarea v-if="l.token!='exist'"
                  style="margin-top: 8px"
                  placeholder="Cкопируйте сюда токен 'Аналитика' из настроек продавца (доступ к API). Только для чтения"
                  v-model="l.token" rows="4"></textarea>

        <p> Мониторинг остатков</p>
        <textarea placeholder="Введите артикулы товаров через запятую" v-model="l.art"></textarea>

        <div class="addBt" v-if="l.token && list.length-1==ind">
          <br><br>
            <button @click="addStore()" > + магазин</button>
        </div>
        <br><br>
    </div>

<!--    <p style="background:pink" v-if="tgparams"> Данные: {{tgparams}}</p>-->
<!--    <p style="background:pink"> localstorage {{ls}}</p>-->

    <button @click="toColor()">
        Перекрасить
    </button>
    <button @click="save()">
        Сохранить и закрыть
    </button>


</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="WBfreeStore.js"></script>
</body>
</html>

