<div class="container main__top--block">
    <h2>Топ 20 марок по продаже</h2>

    <div class="page__flex">
        <div class="box">
            <ul>
                <li>
                    <a href="/cars/vaz-lada/">
                        <span class="icon">
                            <img src="/src/icons/lada.png" alt="" class="mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">ВАЗ (LADA)</span>
                        <span class="total">470</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/kia/">
                        <span class="icon">
                            <img src="/src/icons/kia.png" alt="" class=" mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">KIA</span>
                        <span class="total">162</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/hyundai/">
                        <span class="icon">
                            <img src="/src/icons/hyundai.png" alt="" class=" mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">HYUNDAI</span>
                        <span class="total">136</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/renault/">
                        <span class="icon">
                            <img src="/src/icons/renault.png" alt="" class=" mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">RENAULT</span>
                        <span class="total">104</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li>
                    <a href="/cars/chevrolet/">
                        <span class="icon">
                             <img src="/src/icons/chevrolet.png" alt="" class=" mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">CHEVROLET</span>
                        <span class="total">87</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/volkswagen/">
                        <span class="icon">
                             <img src="/src/icons/volkswagen.png" alt="" class=" mw-100 d-block" loading="lazy"></span>
                        <span class="text">VOLKSWAGEN</span>
                        <span class="total">86</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/skoda/">
                        <span class="icon">
                             <img src="/src/icons/skoda.png" alt="" class=" mw-100 d-block" loading="lazy"></span>
                        <span class="text">SKODA</span>
                        <span class="total">82</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/nissan/">
                        <span class="icon">
                             <img src="/src/icons/nissan.png" alt="" class=" mw-100 d-block" loading="lazy"></span>
                        <span class="text">NISSAN</span>
                        <span class="total">70</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li>
                    <a href="/cars/ford/">
                        <span class="icon">
                             <img src="/src/icons/ford.png" alt="" class=" mw-100 d-block" loading="lazy"></span>
                        <span class="text">FORD</span>
                        <span class="total">48</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/opel/">
                        <span class="icon">
                             <img src="/src/icons/opel.png" alt="" class=" mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">OPEL</span>
                        <span class="total">44</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/toyota/">
                        <span class="icon">
                             <img src="/src/icons/toyota.png" alt="" class=" mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">TOYOTA</span>
                        <span class="total">34</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/mitsubishi/">
                        <span class="icon">
                             <img src="/src/icons/mitsubishi.png" alt="" class=" mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">MITSUBISHI</span>
                        <span class="total">28</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li>
                    <a href="/cars/mazda/">
                        <span class="icon">
                             <img src="/src/icons/mazda.png" alt="" class=" mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">MAZDA</span>
                        <span class="total">22</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/chery/">
                        <span class="icon">
                             <img src="/src/icons/chery.png" alt="" class=" mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">CHERY</span>
                        <span class="total">21</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/gaz/">
                        <span class="icon">
                             <img src="/src/icons/gaz.png" alt="" class=" mw-100 d-block" loading="lazy">
                         </span>
                        <span class="text">ГАЗ</span>
                        <span class="total">20</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/haval/">
                        <span class="icon">
                             <img src="/src/icons/haval.png" alt="" class=" mw-100 d-block" loading="lazy">
                         </span>
                        <span class="text">HAVAL</span>
                        <span class="total">17</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="box" style="display: none">
            <ul>
                <li>
                    <a href="/cars/honda/">
                        <span class="icon">
                            <img src="/src/icons/honda.png" alt="" class=" mw-100 d-block" loading="lazy">
                        </span>
                        <span class="text">HONDA</span>
                        <span class="total">17</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/datsun/">
                        <span class="icon">
                                 <img src="/src/icons/datsun.png" alt="" class=" mw-100 d-block" loading="lazy">
                         </span>
                        <span class="text">DATSUN</span>
                        <span class="total">15</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/geely/">
                        <span class="icon">
                             <img src="/src/icons/geely.png" alt="" class=" mw-100 d-block" loading="lazy">
                         </span>
                        <span class="text">GEELY</span>
                        <span class="total">14</span>
                    </a>
                </li>
                <li>
                    <a href="/cars/peugeot/">
                        <span class="icon">
                             <img src="/src/icons/peugeot.png" alt="" class=" mw-100 d-block" loading="lazy">
                         </span>
                        <span class="text">PEUGEOT</span>
                        <span class="total">12</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="box">
            <ul>
            </ul>
        </div>
        <div class="box">
            <ul>
            </ul>
        </div>

    </div>
</div>