<style>
    .offer-fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 50px;
        width: 100%;
    }

    @media (max-width: 860px) {
        .offer-fields {
            grid-template-columns: 1fr;
        }
    }

    .cart {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 35px 1px #0000001a;
        box-shadow: 0 0 35px 1px #0000001a;
        cursor: pointer;
        transition: box-shadow 0.5s;
        min-height: 200px;
        font-weight: 600;
        display: grid;
        grid-template-columns: 47% auto;
        grid-template-areas: 'c_slide name' 'c_slide c_price' 'c_slide c_info' 'c_slide  c_box'
    }



    .cart:hover {
        box-shadow: 0 0 35px 1px #00000035;
    }

    .cart__slide {
        position: relative;
        margin-right: 0.9375em;
        grid-area: c_slide;
    }

    @media (max-width: 575px) {
        .cart {
            background: orange;
            grid-template-columns: 100%;
            grid-template-areas: 'name' 'c_price'  'c_slide' ' c_info' 'c_box'
        }
        .cart__slide {
            margin-right: 0;
        }
    }

    .cart__slide img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px 0 0 5px;
    }

    .area {
        position: absolute;
        top: 0;
        height: 100%;
        width: 16.5%;
        cursor: pointer;
    }

    .a0 {
        left: 0;
    }

    .a1 {
        left: 16.5%;
    }

    .a2 {
        left: 33%;
    }

    .a3 {
        left: 50%;
    }

    .a4 {
        left: 66.5%;
    }

    .a5 {
        left: 83%;
    }


    .cart .name {
        grid-area: name;
    }

    .cart .name a {
        text-decoration: none;
        color: #000;
    }

    .cart .name a:hover {
        color: var(--color-red);
    }

    .cart__price {
        margin: 12px 0 24px 0;
        grid-area: c_price;
    }

    .cart__price .total {
        font-size: 1.25em;
        display: inline-block;
        margin-right: 5px;
    }

    .cart__of {
        color: #E22427;
        font-size: 0.875em;
        display: inline-block;
    }


    .cart__info {
        font-weight: 600;
        font-size: 0.8125em;
        max-width: 170px;
        grid-area: c_info;
    }

    .cart__box--bottom {
        grid-area: c_box;
    }

    .cart__box--bottom a {
        display: inline-block;
        margin-right: 0.625em;
        width: 1.25em;
    }

    .cart__box--bottom img:hover {
        filter: sepia(100%) saturate(6860%);
    }

    .cart .field {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .cart .red {
        width: 17%;
        position: absolute;
        background: var(--color-red);
        height: 4px;
        bottom: 0;
    }

</style>

<div class='container'>
    <h2>Специальные предложения по цене</h2>
    <br>
    <div class='offer-fields'>
        <div class="cart" id="galery_1">
            <div class="cart__slide">
                <img class="photo" alt=''>
                <div class="area a0"></div>
                <div class="area a1"></div>
                <div class="area a2"></div>
                <div class="area a3"></div>
                <div class="area a4"></div>
                <div class="area a5"></div>
                <div class="field">
                    <div class='red'></div>
                </div>
            </div>
            <div class="name">
                <br>
                <a href="/cars/polo/649868/"> Volkswagen Polo, 2014 </a>
            </div>
            <div class="cart__price">
                <div class="total">784&nbsp;238&nbsp;₽</div>
                <div class="cart__of"> от 8&nbsp;700&nbsp;₽/мес</div>
            </div>
            <div class="cart__info">
                133&nbsp;055 км, 1.6 MT (85 л.с), седан, передний, бензин
            </div>
            <div class="cart__box--bottom">
                <a href="/ajax/addtocompare.php/?action=ADD_TO_COMPARE_LIST&amp;id=649868&amp;iblockid=76">
                    <img src="/src/images/compare_cars.svg" alt=''>
                </a>
                <a href="/ajax/addtofavorite.php/?action=ADD_TO_FAV_LIST&amp;id=649868&amp;iblockid=76">
                    <img src="/src/images/penta.svg" alt=''>
                </a>
            </div>
        </div>

        <div class="cart" id="galery_2">
            <div class="cart__slide">
                <img class="photo" alt=''>
                <div class="area a0"></div>
                <div class="area a1"></div>
                <div class="area a2"></div>
                <div class="area a3"></div>
                <div class="area a4"></div>
                <div class="area a5"></div>
                <div class="field">
                    <div class='red'></div>
                </div>

            </div>
            <div class="cart__div">2222</div>
        </div>
        <div class="cart">
            221212
        </div>


        <script>
            function createGalery(id) {
                const gallery = document.querySelector('#galery_' + id + ' .cart__slide');
                const photo = gallery.querySelector('.photo');
                const areas = gallery.querySelectorAll('.area');
                const red = gallery.querySelector('.cart .red');
                console.log('red = ', red);
                const images = [
                    '../photo-offers/' + id + '/p1.jpg',
                    '../photo-offers/' + id + '/p2.jpg',
                    '../photo-offers/' + id + '/p3.jpg',
                    '../photo-offers/' + id + '/p4.jpg',
                    '../photo-offers/' + id + '/p5.jpg',
                    '../photo-offers/' + id + '/p6.jpg'
                ];

                photo.src = '/photo-offers/' + id + '/p1.jpg';
                areas.forEach((area, i) => area.addEventListener('mouseenter', () => {
                    photo.src = images[i];
                    red.style.left = i * 16.5 + '%';
                }));
                gallery.addEventListener('mouseleave', () => {
                    photo.src = images[0];
                    red.style.left = '0%';
                });

                let offset1, offset2, i = 0;
                gallery.addEventListener('touchstart', e => offset1 = e.targetTouches[0].pageX - gallery.offsetLeft);
                gallery.addEventListener('touchmove', e => offset2 = e.targetTouches[0].pageX - gallery.offsetLeft);
                gallery.addEventListener('touchend', () => {
                    console.log('raise = ', offset1 > offset2);
                    if (offset1 > offset2) i++;
                    else i--;
                    if (i > 5) i = 5;
                    if (i < 0) i = 0;
                    photo.src = images[i];
                    red.style.left = i * 16.5 + '%';
                });
            }

            createGalery(1);
            createGalery(2);

        </script>
    </div>
</div>