<div class="container">
    <div class="main__provided--top">
        <div class="page__flex">
            <h2> Адреса дилерских центров Автосеть.РФ </h2>
            <a href="/contacts/" class="page__link">
                <img src="/src/svg/red_arrow.svg" alt=''>
                <span>Все адреса</span>
            </a>
        </div>
    </div>

    <div class='dealers'>
        <div class='dealers__block'></div>
        <div class='dealers__block'></div>
        <div class='dealers__block'></div>

    </div>



</div>