<div class="container">
    <div class="main__provided--top">
        <div class="page__flex">
            <h2> Наши услуги </h2>
            <a href="/services/" class="page__link">
                <img src="/src/svg/red_arrow.svg">
                <span>Все услуги</span>
            </a>
        </div>
    </div>
    <!-- /.main__provided--top -->
    <div class="main__provided--block">
            <div class="item">
                <div class="main__provided--item light main__provided--renctable">
                    <a href="/services/vykup/">
                        <div class="page__flex">
                            <div class="block">
                                <div class="name">
                                    Продать авто
                                </div>
                                <div class="info">
                                    Быстро выкупим любой авто на выгодных для Вас условиях!
                                </div>
                            </div>
                            <div class="main__provided--link">
                                    <span class="icon">

                                    </span>
                                <span class="text">
                                        Подробнее
                                    </span>
                            </div>
                            <!-- /.main__provided--link -->
                        </div>
                        <div class="main__provided--img">
                            <img src="/src/images/car.png" alt="" class="mw-100 d-block">
                        </div>
                        <!-- /.main__provided--img -->
                    </a>
                </div>
                <!-- /.main__provided--item -->
            </div>
            <div class="item">
                <div class="main__provided--item dark main__provided--light">
                    <a href="/services/servisnoe-obsluzhivanie/">
                        <div class="page__flex">
                            <div class="block">
                                <div class="name">
                                    Сервисный центр
                                </div>
                                <div class="info">
                                    Ремонт авто любой сложности
                                </div>
                            </div>
                            <div class="main__provided--link">
                                    <span class="icon">

                                    </span>
                                <span class="text">
                                        Подробнее
                                    </span>
                            </div>
                            <!-- /.main__provided--link -->
                        </div>
                        <div class="main__provided--img">
                            <img src="/src/images/key.png" alt="" class="mw-100 d-block">
                        </div>
                        <!-- /.main__provided--img -->
                    </a>
                </div>
                <!-- /.main__provided--item -->
            </div>
            <div class="item">
                <div class="main__provided--item dark main__provided--light">
                    <a href="/services/shinnyy-сentr/">
                        <div class="page__flex">
                            <div class="block">
                                <div class="name">
                                    Шинный центр
                                </div>
                                <div class="info">
                                    Самый большой магазин автомобильных шин в Казани для легковых автомобилей
                                </div>
                            </div>
                            <div class="main__provided--link">
                                    <span class="icon">
                                        <svg width="12" height="10" viewBox="0 0 12 10" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.02662 10L5.53463 8.50002L7.96105 6.06061H0V3.93939H7.96105L5.53463 1.49998L7.02662 0L12 5L7.02662 10Z"></path>
                                        </svg>
                                    </span>
                                <span class="text">
                                        Подробнее
                                    </span>
                            </div>
                            <!-- /.main__provided--link -->
                        </div>
                        <div class="main__provided--img">
                            <img src="/src/images/shina.png" alt="" class="mw-100 d-block">
                        </div>
                        <!-- /.main__provided--img -->
                    </a>
                </div>
                <!-- /.main__provided--item -->
            </div>
    </div>
    <!-- /.main__provided--block -->
    <div class="main__provided--desc">
        <a href="/services/" class="page__link">
            <div class="icon">

            </div>

            Все услуги

        </a>
    </div>
    <!-- /.main__provided--desc -->
</div>
