<section class="container">
    <div class="filter">

        <div class="filter__wrapper">
            <div class="filter__controls">
                <button class="filter__controls-button active">Автомобили</button>
                <button class="filter__controls-button">Шины</button>
                <div class="filter__controls-info">
                    <img src="/src/images/tires.svg" alt=''>
                    <a href="#tyreSize" class="filter__controls-info-button inlineLnk">Где&nbsp;смотреть&nbsp;параметры</a>
                </div>
            </div>
            <div class="filter__controls">

            </div>


        </div>


    </div>
</section>