<section class="container">
    <div class="filter">

        <div class="filter__wrapper">
            <div class="filter__controls">
                <button class="filter__controls-button active">Автомобили</button>
                <button class="filter__controls-button">Шины</button>
                <div class="filter__controls-info">
                    <img src="/src/svg/tires.svg" alt=''>
                    <span
                       class="filter__controls-info-button">Где смотреть параметры</span>
                </div>
            </div>
            <div class="filter__controls">
                <div class="frame-filter__item">
                    <comb data-placeholder='Марка' />
                </div>
                <div class="frame-filter__item">
                    <comb data-placeholder='Модель' />
                </div>
                <div class="frame-filter__item">
                    <comb data-placeholder='Производитель' />
                </div>
                <div class="frame-filter__item">
                    <comb data-placeholder='Ширина профиля' />
                </div>
                <div class="frame-filter__item">
                    <comb data-placeholder='Высота профиля' />
                </div>
                <div class="frame-filter__item">
                    <comb data-placeholder='Диаметр' />
                </div>
                <div class="frame-filter__item">
                    <comb data-placeholder='Сезон' />
                </div>
            </div>
            <div class="frame-filter__controls">
                <button class="frame-filter__controls-advanced" onclick='this.classList.add("active")'>
                    <span class="frame-filter__controls-advanced-icon"></span>
                    <span class="frame-filter__controls-advanced-text">Расширенный фильтр</span>
                </button>

                <a href="#" class="frame-filter__controls-reset">Сбросить</a>

                <button class="frame-filter__submit" type="submit" id="set_filter" name="set_filter" value="Показать"
                        onclick="document.querySelector('#tyres_submit_hidden').click()">
                    Показать&nbsp;<span class="number">1</span>&nbsp;предложений
                </button>
            </div>

        </div>


    </div>
  <div class="tires_sizes">

    <div class="tires-flex">
      <div>
        <h2>Расшифровка маркировки шин</h2>
        <p>Типоразмер указан в маркировке на боковине шины:</p>
        <p><span class="red_strong">Ширина профиля шины</span> — первое число в маркировке, например 195/50 R16 - ширина 195 мм. Ширина профиля представляет собой выраженное в миллиметрах расстояние между наружными сторонами боковин накачанной шины.</p>
        <p><span class="red_strong">Высота профиля</span> — второе число в маркировке шин, например 195/50 R16 - высота 50%. Это отношение высоты шины к ширине, выраженное в процентах (%).</p>
        <p><span class="red_strong">Диаметр колеса</span> — третье число в маркировке шины, например 195/50 R16 - диаметр обода 16'. Должен совпадать с монтажным диаметром колесного диска. Измеряется в дюймах.</p>
      </div>
      <img class="tyres_img" src="/src/images/tyres_size.webp" alt="">
      <div class='x'><img src="/src/images/x.png" loading='lazy' alt=''></div>
    </div>

    <span class='dark-fon'/>
  </div>
</section>