<section class="container">
    <div class="filter">

        <div class="filter__wrapper">
            <div class="filter__controls">
                <button class="filter__controls-button active">Автомобили</button>
                <button class="filter__controls-button">Шины</button>
                <div class="filter__controls-info">
                    <img src="/src/images/tires.svg">
                    <a href="#tyreSize" class="filter__controls-info-button inlineLnk">Где&nbsp;смотреть&nbsp;параметры</a>
                </div>
            </div>
            <div class="filter__controls">

            </div>

<!--            <div class="filter__tabs">-->
<!--                <div class="filter__tab filter__tab_frame active" id="cars" style="height: 253px;">-->
<!--                    wwwwew-->
<!--                </div>-->

<!--&lt;!&ndash;                <div class="filter__tab filter__tab_frame " id="tires" style="height: 0px;">&ndash;&gt;-->
<!--&lt;!&ndash;                    <iframe src="/filter/tyres.php" frameborder="0" scrolling="no" style="height: 250px;"></iframe>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
        </div>


    </div>
</section>