.filter {
    border-radius: 15px;
    background: #f3f3f5;
    width: calc(100% - 50px);
    min-height: 60px;
    padding: 10px;
    display: flex;
    outline: none;
    position: relative;
    padding: 35px;
    margin-left: -10px;
    margin-bottom: 100px;
}

.filter__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.filter__controls {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.filter__controls-button {
    display: block;
    min-width: 135px;
    padding: 13px 25px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}
.filter__controls-button.active {
    color: var(--color-red);
    border-color: white;
    background-color: white;
}

.filter__controls-button:hover {
    color: white;
    border-color: white;
    background-color:var(--color-red);
}

.filter__controls-info-button {
    font-weight: 600;
    font-size: 15px;
    line-height: 125%;
    color: #000;
}

.filter__controls-info{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: right;
    position: absolute;
    right: 60px;
    top: 35px;
}


@media (max-width: 640px) {

    .filter__controls {
        justify-items: center;
    }

    .filter__controls {
        justify-content: center;
        display: flex;
    }

    .filter__controls-info{
        position: relative;
        right: 0;
        top: 0;
    }
}


.frame-filter__item{
    width: 250px;
    outline: none;
}