<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
        body {
            background: #42b983;
            text-align: center;
        }
        
        input {
            font-size: 30px;
        }
    </style>
</head>

<body>
    <h1>Простой пример работы сайта на VueJS</h1>

    <div id="vue-div">

        <input v-model="aValue" size="1" :input="sum()"> +
        <input v-model="bValue" size="1" :input="sum()"> =
        <input v-model="cValue" size="1">


    </div>
    <script src="myJS.js"></script>
</body>

</html>