body{
    background-color: rgb(255, 255, 255);;
}
h1{ 
    font-family: "http://fonts.google.com/specimen/Dosis" ;
}
img { 
    display: inline-block;
}
  .seconder {
    background-color: rgb(46, 46, 46);
  }
