
#app {
    margin: 0 !important;
    padding: 0;
}

button {
    margin: 0 8px;
    padding: 8px 12px;
    min-width: 40px;
    border-radius: 7px;
    border: none;
}

.red-notice {
    color: darkred;
    margin: -18px 0 20px;
    font-size: smaller;
    font-family: Arial
}
.red-bt{
    background: pink;
}
.green-bt{
    background: green;
}

