
#app {
    margin: 0 !important;
    padding: 0;
}

body {
    font-family: Helvetica, Verdana, serif;
    background: white;
}

button {
    margin: 0 8px 4px 0;
    padding: 12px 20px;
    min-width: 40px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 2px black;
    font-size: large;
}

.red-notice {
    color: darkred;
    margin: -18px 0 20px;
    font-size: smaller;
}

.red-bt {
    background: pink;
}

.green-bt {
    background: green;
    color: white;
}




